#square
{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 200px;
    height: 200px;
    background-color: lavenderblush;
    color: midnightblue;
    flex-wrap: wrap;
    font-family: 'Lucida Sans';
}